html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	background: white;
	font-family: 'Arimo', sans-serif;
}
h4{
	margin:20px;
}
.create{
	color: rgb(74, 74, 74);
	font-size: 1.2em;
}

#logo {
	float: left;
	border-radius: 8px;
	padding-left: 20px;
	color: rgb(235, 235, 235);
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bolder;
}
.logbtn{
	text-align: right;
	color: rgb(74, 74, 74);
	display: block;
	padding-top: 30px;
}
#login, #signup{
	padding-top: 50px;
}
nav {
    width: 100%;
	height: 100px;
	background-color: #E93D2A;
	background-image: url("awesome.jpg");
	border-bottom: solid 3px black;
}
/*
nav:nth-child(1) {
    padding-left: 25px;
}
*/

.navlink {
    padding: 5px;
	padding-top: 35px;
	padding-left: 20px;
	font-size: 1.3em;
	float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 20px;
	border-radius: 4px;
	/*background-color: black;*/
    transition: background-color 0.4s ease;
}

.navlink a:hover {
	color: rgb(74, 74, 74);
}

.domoForm {
	width: 85%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(74, 74, 74);
	border-radius: 0px;
	text-align: center;
	margin-bottom: 60px;
}

.domoForm label {
	width: 5%;
	margin-left: 15px;
	font-size: 1.2em;
	float: center;
	color: white;
}

.domoForm input[type=text] {
    float: center;
	width: 25%;
}

.makeDomoSubmit {
	transition: background-color 0.4s ease;
	display: inline;
	font-size: 1em;
	width: 20%;
	background-color: #E93D2A;
	border-radius: 2px;
	color: white;
	text-decoration: none;
	margin-left: 6%;
	padding: 8px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #C63C2D;
}


.mainForm {
    /*height: 300px; */
	padding: 0px 20px 30px 20px;
	width: 350px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	background: rgb(222, 222, 222);
	border: solid 2px;
	border-radius: 12px;
}
.mainForm2{
	padding: 0px 20px 30px 20px;
	width: 350px;
	margin: 0 auto;
	font-size: 1.2em;
	background: rgb(222, 222, 222);
	border: solid 2px;
	border-radius: 12px;
}
.formTitle{
	text-align:center;
}
.mainForm2 label {
	display: block;
	width: 255px;
	text-align: center;
	font-size: 1em;
}
#user2, #pass3, #pass4 {
font-size: 1.1em;
  height: 40px;
  border-radius: 6px;
  display: block;
  margin: auto auto 20px auto;
}
.formSubmit2{
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 25px auto auto auto;
  font-size: 1.2em;
  width: 290px;
  background-color: #E93D2A;
  border-radius: 2px;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
 }
.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
	transition: background-color 0.4s ease;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 1.2em;
	width: 290px;
	background-color: #E93D2A;
	border-radius: 2px;
	padding: 10px 0px;
	color: white;
	text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover, .formSubmit2:hover{
    transition: background-color 0.4s ease;
    background-color: rgb(74, 74, 74);
}
#user, #pass, #pass2 {
	text-align: center;
	font-size: 1.1em;
	height: 50px;
	border-radius: 6px;
	margin-bottom: 40px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}
#domoMessage2 {
    display:none;
	overflow: hidden;
	text-align: center;
}
#errorMessage2 {
	font-size: .7em;
	font-weight: bold;
	color: rgb(233, 61, 42);
	font-style: italic;
}

#domoMessage {
    display:none;
    /*top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
	*/
	width: 100%;
	height: 50px;
	/* position: absolute; */
	z-index: 200;
	overflow: hidden;
}
/*
#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}
*/

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
	width: 95%;
	min-width: 400px;
	border-radius: 4px;
	margin: 0 auto;
}

.domo {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2px;
	border-radius: 4px;
	background-color: #EBEBEB;
	/* background-color: rgb(222, 222, 222); */
	min-height: 60px;
	overflow: hidden;
	display: inline-flex;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    /*border-color: rgba(255,255,255, 0.8);*/
    transition: background-color 2.6s ease-out;
    background-color: rgb(222, 222, 222);
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
	width: 70%;
	height: 23px;
	text-align: left;
	padding-left: 20px;
}

h3.domoAge {
	width: 15%;
}

h3.mTotal{
	width: 15%;
}

/*
.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}
*/