extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      p#logo Manage Payments
    .navlink
      a(href="/logout") Log out
  section#makeDomo
    form#domoForm(class="domoForm", name="domoForm", action="/maker", method="POST")
      label(for="name") Item: 
      input#domoName(type="text", name="name", placeholder="item name")
      label(for="age") Price: 
      input#domoAge(type="text", name="age", placeholder="cost")
      a#makeDomoSubmit(class="makeDomoSubmit", href="#") Create Item
	  #domoMessage
        h3
          span#errorMessage *All fields required!
  section#domos
    if !domos || domos.length == 0
        div.domo
            h3.emptyDomo Current Total: 0
    else
        each val in domos	
            h3.bsTotal Total Cost: #{val.name + " is awesome"}
  section#domos
    if !domos || domos.length == 0
        div.domo
            h3.emptyDomo No Domos yet
    else
        each val in domos
            div.domo
                h3.domoName Item: #{val.name}
                h3.domoAge Price: #{"$" + val.age}
                h3.mTotal Total: #{val.cost}	
block scripts
        script(src="/assets/maker.js")