extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      p#logo Manage Payments
    .navlink
      a(href="/logout") Log out
  section#paymentsForm
    form#payForm(class="payForm", name="payForm", action="/maker", method="POST")
      label(for="name") Item: 
      input#payItem(type="text", name="name", placeholder="item name")
      label(for="price") Price: 
      input#priceItem(type="text", name="price", placeholder="cost")
      a#paymentsFormSubmit(class="paymentsFormSubmit", href="#") Create Item
      #errorPayments
        h3
          span#errorMessage *All fields required!
  h3.title Your Payments
  section#payments
    if !payments || payments.length == 0
        div.onePay
            h3.emptyDomo Currently No Payments!
    else
        each val in payments
            div.onePay
                h3.payItem Item: #{val.name}
                h3.priceItem Price: #{"$" + val.price}	
block scripts
        script(src="/assets/maker.js")