extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      p#logo Manage Payments
    .navlink
      a(href="/logout") Log out
  section#makeDomo
    form#domoForm(class="domoForm", name="domoForm", action="/maker", method="POST")
      label(for="name") Name: 
      input#domoName(type="text", name="name", placeholder="Domo Name")
      label(for="age") Age: 
      input#domoAge(type="text", name="age", placeholder="Domo Age")
      a#makeDomoSubmit(class="makeDomoSubmit", href="#") Make Domo
  section#domos
    if !domos || domos.length == 0
        div.domo
            h3.emptyDomo Current Total: 0
    else	
        h3.mTotal total: #{domos.name}
  section#domos
    if !domos || domos.length == 0
        div.domo
            h3.emptyDomo No Domos yet
    else
        each val in domos
            div.domo
                h3.domoName Item: #{val.name}
                h3.domoAge Cost: #{val.age}
                h3.mTotal total: #{val.name + " is awesome"}	
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")