html(lang="en")
  head
    meta(charset="utf-8")
    title DomoMaker
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="shortcut icon", href="/assets/img/favicon.png")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arimo', type='text/css')
    block style
  block body
  block scripts